<!--
    data = {devices: [ ... ]}
-->

<% data.devices.forEach(function (e, i) { %>
<a class="item card col4" href="device/<%= i %>">
    <div class="name" float="left"><%= e.name %></div>
    <% if (e.battery >= 0) { %>
    <div class="battery" float="right"><%= e.battery %>%</div>
    <% } %>
    <hr class="clear">
    <% if (e.status === "on") { %>
    <div class="status running">ON</div>
    <% } else { %>
    <div class="status">OFF</div>
    <% } %>
</a>
<% }); %>
<style>
.item.card {display:inline-block; padding:16px; box-sizing:border-box; color:rgba(0,0,0,0.82); text-decoration:none;}
.item.card:hover {box-shadow:4px 4px 0 rgba(0,0,0,0.12), 4px 4px 8px rgba(0,0,0,0.24);}

.item .name {color:rgba(0,0,0,0.56);}
.item .status {color:#f44336;}
.item .status.running {color:#8bc34a;}
</style>