<!--
    index = 장치 인덱스
    data = {
        name: "장치 이름",
        status: "상태",
        battery: "배터리 퍼센트"
    }

    card
    - col2은 2칸씩
    - col3은 3칸씩

    원형 프로그래스
    - span.text 변경
    - circle.complete의 스타일
      - stroke-dashoffset를 퍼센트 * 2.2
        - ex) 50% -> 110
    
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
    <script src="main.js"></script>
</head>
<body>
    <nav>
        <p class="title" float="left"><%= data.name %></p>
    </nav>
    <main>
        <div class="content">
            <% if (data.battery > 0) { %>
            <div class="row">
                <div class="card col2">
                    <p class="title">사용시간(고정)</p>
                    <p class="cur-time">2시간</p>
                </div>
                <div class="card col2">
                    <p class="title">예상 사용가능 시간(고정)</p>
                    <p class="pos-time">3시간</p>
                </div>
            </div>
            <div class="row">
                <div class="card col3 speed">
                    <p class="title">배터리 잔량</p>
                    <div class="progress">
                        <span class="text"><%= data.battery %>%</span>
                        <svg class="radial-progress" data-percentage="82" viewBox="0 0 80 80">
                            <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                            <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: <%= 220 - data.battery * 2.2 %>px;"></circle>
                        </svg>
                    </div>
                </div>
                <div class="card col3 speed">
                    <p class="title">무게(고정)</p>
                    <div class="progress">
                        <span class="text">50%</span>
                        <svg class="radial-progress" data-percentage="82" viewBox="0 0 80 80">
                            <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                            <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 110px;"></circle>
                        </svg>
                    </div>
                </div>
                <div class="card col3 speed">
                    <p class="title">속도(고정)</p>
                    <div class="progress">
                        <span class="text">50%</span>
                        <svg class="radial-progress" data-percentage="82" viewBox="0 0 80 80">
                            <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                            <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 110px;"></circle>
                        </svg>
                    </div>
                </div>
            </div>
            <% } else { %>
            <div class="card off">
                <p class="off">장치가 꺼져있습니다.</p>
            </div>
            <% } %>
        </div>
    </main>
</body>
</html>